<div class="container-fluid info-box">
  <div ng-if="logistics.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "  ng-if="logistics.promise.$$state.status == 1">
    <div class="caption">
      <section class="section-bg topPart"  ng-mouseover="logistics.topAnimate=2" ng-mouseleave="logistics.topAnimate=1">
        <div class="capt parallax-bg parallax-primary">
          <h2 class="animated " ng-class="logistics.topAnimate==1 ? 'lightSpeedIn':''" >{{logistics.title | translate}}<div class="decor-2"></div></h2>
          <ul class="bg-slideshow">
              <li>
                  <div id="logisticsImg01" class="bg-slide"></div>
              </li>
          </ul>
        </div>
      </section>

      <div class="commomText">
        <div class="pImg">
          <p><img src="../assets/images/pages/logistic_01.jpg" class="rightImg" ng-click="tog_01=1" />{{logistics.log_01 | translate}}</p>
          <div class="bigImg" ng-class='{"bigImgView":tog_01==1}' ng-click="tog_01=0">
              <img src="../assets/images/pages/logistic_01.jpg" />
              <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
