
  <div ng-if="logistics.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div  ng-if="logistics.promise.$$state.status == 1">
    <div class="topImg">
      <img src="assets/images/bg/bg_12.jpg" />
    </div>
    
    <!--==========================
      logistics Section
    ============================-->
    <section id="logistics">

      <div class="logistics-row section-bg">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">{{logistics.title | translate}}</h2>
            <span class="section-divider"></span>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="wow fadeInLeft">
                <p>{{logistics.log_01 | translate}}</p>
               </div>
            </div>
            <div class="col-6 col-md-6">
                <img class="logistics-img-right wow fadeInRight" src="../assets/images/img/logistics-11.jpg" alt="">
              </div>
          </div>
        </div>
      </div>
    </section><!-- #logistics -->
  </div>
