.loader{
    position: fixed;
    width: 100%;
    height:100%;
    background-image: url('../assets/images/bg/bgImage.jpg');
    top: 0px;
    left: 0px;
  }
 
  .loader>div{
   height: max-content;
   top: 45%;
   position: absolute;
 }