
  <div ng-if="home.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div  ng-if="home.promise.$$state.status == 1">
    <div class="topImg">
      <img src="assets/images/bg/bg_01.jpg" />
    </div>
    
    <!--==========================
      Home Section
    ============================-->
    <section id="home-about" class="chapter">

      <div class="chapter-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="wow fadeInLeft">
                <h2>{{home.pa_07 | translate}}</h2>
                <h3>{{home.pa_02 | translate}}</h3>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 inImg">
                <img class="chapter-img-right wow fadeInRight" src="../assets/images/img/home-about-11.jpg" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="chapter-row">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 inImg">
              <img class="chapter-img-left  wow fadeInLeft" src="../assets/images/img/home-about-12.jpg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 content">
              <div class="wow fadeInRight">
                <h2>{{home.pa_06 | translate}}</h2>
                <h3>{{home.pa_08 | translate}}</h3>
                <h3>{{home.pa_081 | translate}}</h3>
                <ul>
                  <li ng-repeat="item in home.list01"><i class="ion-android-checkmark-circle"></i>{{item.txt | translate}}</li>
                </ul>
                <h3>{{home.pa_082 | translate}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chapter-row section-bg">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                  <h2>{{home.pa_03 | translate}}</h2>
                  <h3>{{home.pa_04 | translate}}</h3>
                 </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 inImg">
                  <img class="chapter-img-right wow fadeInRight" src="../assets/images/img/home-about-13.jpg" alt="">
                </div>
            </div>
          </div>
        </div>

        <div class="chapter-row">
            <div class="container">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 inImg">
                  <img class="chapter-img-left  wow fadeInLeft" src="../assets/images/img/home-about-14.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 content">
                  <div class="wow fadeInRight">
                    <h2>{{home.pa_05 | translate}}</h2>
                    <h3>{{home.pa_09 | translate}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section><!-- #home-about -->
  </div>
