/* auto Section
--------------------------------*/
#auto {
    overflow: hidden; 
    
    .auto-row {
        padding: 60px 0 30px 0;
    }

    h2 {
      font-size: 26px;
      font-weight: 700;
      color: #000;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-style: italic;
        color: #999;
    }

    p {
        line-height: 24px;
        color: #777;
        margin-bottom: 30px;
    }

    i {
        color: #666666;
        font-size: 64px;
        transition: 0.5s;
        float: left;
        padding: 0 15px 0px 0;
        line-height: 1;

        :before {
            background: #1dc8cd;
            background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .auto-img-right {
        max-width: 100%;
        float: right;
        padding: 0 0 30px 30px;
    }

    .auto-img-left {
        max-width: 100%;
        float: left;
        padding: 0 30px 30px 0;
    }

    .content i {
        font-size: 20px;
        padding-right: 4px;
        color: #1dc8cd;
    }

    .content ul {
        list-style: none;
        padding: 0;

        li {
            padding-bottom: 10px;
          }
    }

    .wow{

        h2{
            text-align: center;
        }

        h3{
            font-weight: 700;
            color:#333
        }
    }

    .wow.fadeInUp{
        padding: 50px 0;
    }

  }

  
  @media (max-width: 768px) {
    #auto .auto-img-right, #auto .auto-img-left {
      max-width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    #auto .auto-img-right, #auto .auto-img-left {
      max-width: 100%;
      float: none;
      padding: 0 0 30px 0;
    }
  }