/* Sections Header
--------------------------------*/
.section-header .section-title {
    color: #111;
    text-align: center;
    font-weight: 400;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #777;
    font-style: italic;
  }
  
  .section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  /* Section with background
  --------------------------------*/
  .section-bg {
    background: #eff5f5;
    height: auto !important;
  }


/* chapter Section
#home-about, 
#carriages, #auto, #railway, #air, #sea, #multimodal, #sectional
#services, #customs, #consultations, #logistics, #doortodoor, #privateclients
--------------------------------*/
.chapter {
    overflow: hidden; 
    
    .chapter-row {
        padding: 60px 0 30px 0;
    }

    h2 {
      font-size: 1.9em;
      font-weight: 700;
      color: #000;
    }

    h3 {
        font-size: 1.7em;
        line-height: 1.6em;
        font-weight: 400;
        font-style: italic;
        color: #999;
    }

    p {
        line-height: 1.6em;
        color: #777;
        margin-bottom: 30px;
    }

    i {
        color: #666666;
        font-size: 64px;
        transition: 0.5s;
        float: left;
        padding: 0 15px 0px 0;
        line-height: 1;

        :before {
            background: #1dc8cd;
            background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .chapter-img-right {
        max-width: 100%;
        float: right;
        padding: 0 0 30px 30px;
    }

    .chapter-img-left {
        max-width: 100%;
        float: left;
        padding: 0 30px 30px 0;
    }

    .content i {
        font-size: 20px;
        padding-right: 4px;
        color: #1dc8cd;
    }

    .content ul {
        list-style: none;
        padding: 0;

        li {
            padding-bottom: 10px;
          }
    }

    .wow{

        h2{
            text-align: center;
        }

        h3{
            font-weight: 700;
            color:#333
        }

        .wrapper-text{
            overflow: hidden;
            height: 12em;
            margin-left: 100px;

            h4 {

                font-weight: 700;
                margin-bottom: 15px;
                font-size: 1.4em;
          
                a {
                      color: #111;
                }
            }
          
            p{
                font-size: 1.0em;
                margin-bottom: 0;
                line-height: 1.5em;
            }
        }
        .bottom-text{
            padding-bottom: 2em;
        }

    }

    .wow.fadeInUp{
        padding: 50px 0;
    }

    .box {
        padding: 40px 40px 0 40px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
        background: #fff;
        transition: 0.4s;
      }

      .icon {
        float: left;
        width: 30%;
        padding: 5px;

        i {
            color: #666666;
            font-size: 80px;
            transition: 0.5s;
            line-height: 0;

            :before {
                background: #1dc8cd;
                background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
          }
      }

    .inImg{
        text-align: center;
    }

    .names-box{
        border: 0px solid red
    }
    
    .names-box > div{
        height: 90%;
    
        p{
            height: 9em;
            overflow: hidden;
        }
        .icon img{
            width:100%;
            border-radius: 50%;
        }
    }

  }

// Small devices (landscape phones, 576px and up)
@media only screen and  (max-device-width: 575px) { 

 }

// Medium devices (tablets, 768px and up)
@media only screen and  (max-device-width: 767px) {
    
}

// Large devices (desktops, 992px and up)
@media only screen and  (max-device-width: 991px) {
    .container {
        max-width: 100%;
    }

    .chapter h2 {
        font-size: 1.6em;
    }
    .chapter h3 {
        font-size: 1.2em;
    }

    .chapter .chapter-img-right, .chapter .chapter-img-left {
        max-width: 70%;
        float: none;
        padding: 0 0 30px 0;
      }   
}
