
  <div ng-if="multimodal.promise.$$state.status != 1">
      <pre-loader></pre-loader>
    </div>
    <div  ng-if="multimodal.promise.$$state.status == 1">
      <div class="topImg">
        <img src="assets/images/bg/bg_07.jpg" />
      </div>
      
      <!--==========================
        multimodal Section
      ============================-->
      <section id="multimodal">
  
        <div class="multimodal-row section-bg">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">{{multimodal.title | translate}}</h2>
              <span class="section-divider"></span>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="wow fadeInLeft">
                  <p>{{multimodal.multimodal_01 | translate}}</p>
                  <p>{{multimodal.multimodal_02 | translate}}</p>
                 </div>
              </div>
              <div class="col-12 col-md-12">
                  <img class="multimodal-img-right wow fadeInUp" src="../assets/images/img/multimodal-11.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
  
        <div class="multimodal-row">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-6">
                <img class="multimodal-img-left  wow fadeInLeft" src="../assets/images/img/multimodal-12.jpg" alt="">
              </div>
              <div class="col-6 col-md-6 content">
                <div class="wow fadeInRight">

                  <p>{{multimodal.multimodal_03 | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- #multimodal -->
    </div>
  