<div class="container-fluid info-box">
  <div ng-if="customs.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "  ng-if="customs.promise.$$state.status == 1">
    <div class="caption">
      <section class="section-bg topPart"  ng-mouseover="customs.topAnimate=2" ng-mouseleave="customs.topAnimate=1">
        <div class="capt parallax-bg parallax-primary">
          <h2 class="animated " ng-class="customs.topAnimate==1 ? 'lightSpeedIn':''" >{{customs.title | translate}}<div class="decor-2"></div></h2>
          <ul class="bg-slideshow">
              <li>
                  <div id="customsImg01" class="bg-slide"></div>
              </li>
          </ul>
        </div>
      </section>

      <div class="commomText">
        <div class="pImg">
          <p><img src="../assets/images/pages/pa_01.jpg" class="rightImg" ng-click="tog_01=1" />
            <p>{{customs.custom_01 | translate}}</p>
            <p>{{customs.custom_02 | translate}}</p>
            <p>{{customs.custom_03 | translate}}</p>
          </p>
          <div class="bigImg" ng-class='{"bigImgView":tog_01==1}' ng-click="tog_01=0">
            <img src="../assets/images/pages/pa_01.jpg" />
            <div></div>
          </div>
          <table class="table table-hover commonUl">
            <tbody>
              <tr ng-repeat="item in customs.list_custom_01">
                <td>
                  <span class="decor-2"></span>
                  <span>{{item.txt | translate}}</span>     
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
