
  <div ng-if="customs.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div  ng-if="customs.promise.$$state.status == 1">
    <div class="topImg">
      <img src="assets/images/bg/bg_10.jpg" />
    </div>
    
    <!--==========================
      customs Section
    ============================-->
    <section id="customs" class="chapter">

      <div class="chapter-row section-bg">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">{{customs.title | translate}}</h2>
            <span class="section-divider"></span>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="wow fadeInLeft">
                <p>{{customs.custom_01 | translate}}</p>
                <p>{{customs.custom_02 | translate}}</p>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 inImg">
                <img class="customs-img-right wow fadeInRight" src="../assets/images/img/customs-11.jpg" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="chapter-row">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 inImg">
              <img class="chapter-img-left  wow fadeInLeft" src="../assets/images/img/customs-12.jpg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 content">
              <div class="wow fadeInRight">
                <h3>{{customs.custom_03 | translate}}</h3>
                <ul>
                  <li ng-repeat="item in customs.list_custom_01"><i class="ion-android-checkmark-circle"></i>{{item.txt | translate}}</li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #customs -->
  </div>
