<div ng-if="privateclients.promise.$$state.status != 1">
      <pre-loader></pre-loader>
    </div>
    <div  ng-if="privateclients.promise.$$state.status == 1">
      <div class="topImg">
        <img src="assets/images/bg/bg_14.jpg" />
      </div>
      
      <!--==========================
        privateclients Section
      ============================-->
      <section id="privateclients">
  
        <div class="privateclients-row section-bg">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">{{privateclients.title | translate}}</h2>
              <span class="section-divider"></span>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                <div class="wow fadeInLeft">
                  <p>{{privateclients.private_01 | translate}}</p>
                 </div>
              </div>
              <div class="col-6 col-md-6">
                  <img class="privateclients-img-right wow fadeInRight" src="../assets/images/img/privateclients-11.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
      </section><!-- #privateclients -->
    </div>
  