<div class="container-fluid info-box">
    <div  ng-if="contacts.promise.$$state.status != 1">
        <pre-loader></pre-loader>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "  ng-if="contacts.promise.$$state.status == 1">
        <div class="caption">
            <section class="section-bg topPart"  ng-mouseover="contacts.topAnimate=2" ng-mouseleave="contacts.topAnimate=1">
                <div class="capt parallax-bg parallax-primary">
                    <h2 class="animated " ng-class="contacts.topAnimate==1 ? 'lightSpeedIn':''" >{{contacts.title | translate}}<div class="decor-2"></div></h2>
                    <ul class="bg-slideshow">
                        <li>
                            <div id="contactsImg01" class="bg-slide"></div>
                        </li>
                    </ul>
                </div>
            </section>
    
            <div class="decor-1">
              <span>{{contacts.pc_01 | translate}}</span>
            </div>
            <div class="commomText">
                <div class="pImg">
                    <h4>{{contacts.pc_02 | translate}}</h4>
                    <div class="container commonUl">
                        <div class="row  row-flex">
                            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
                                <i class="material-icons middle">&#xE0B0;</i>
                            </div>
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                                <h5 class="goldTxt">+7(499) 270-05-30</h5>
                                <span>{{contacts.pc_03 | translate}}</span>
                            </div>
                        </div>
                        <div class="row  row-flex">
                            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
                                <i class="material-icons middle">&#xE0E1;</i>
                            </div>
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                                <h5><a  href="mailto:inquiry@domain.com" class="goldTxt">inquiry@domain.com</a></h5>
                                <span>{{contacts.pc_04   | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decor-1">
                <span>{{contacts.pc_05 | translate}}</span>
            </div>
            <div class="commomText">
                <div class="pImg">
                    <send-email></send-email>
                </div>
            </div>
        </div>
    </div>
</div>
  
