.add-info{
    padding: 5px 0 30px 30px;

}

#contacts .wow h3{
    text-align: center;
}

#contacts .wow .btn{
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    border: 0;
    border-radius: 20px;
}

#contacts .md-button:not([disabled]):hover  {
    background-color: #5bc0de !important;
}
