<div class="container-fluid info-box">
  <div ng-if="services.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="services.promise.$$state.status == 1">
    <div class="caption">
      <section class="section-bg topPart"  ng-mouseover="services.topAnimate=2" ng-mouseleave="services.topAnimate=1">
        <div class="capt parallax-bg parallax-primary">
          <h2 class="animated " ng-class="services.topAnimate==1 ? 'lightSpeedIn':''" >{{services.title | translate}}<div class="decor-2"></div></h2>
          <ul class="bg-slideshow">
              <li>
                  <div id="servicesImg01" class="bg-slide"></div>
              </li>
          </ul>
        </div>
      </section>
      <div class="decor-1">
          <span>{{services.title | translate}}</span>
      </div>
      
      <div class="commomText">
        <div class="pImg">
          <div class="container-fluid">
            <div class="row row-flex">
              <div ng-repeat="item in services.list02" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pad0 ">
                <div class="wrapperBlock" ng-click="services.goTo(item.link)">
                  <div class="block-services">
                    <div class="bgOpacity">
                      <h5 class="block-services__title ui-title-inner">{{item.name | translate}}</h5>
                      <div class="block-services__description">{{item.description | translate}}</div>

                      <div class="decor-3"></div>
                      <a class="block-services__link btn-link" href="{{item.link}}">{{services.read | translate}}</a>
                    </div>
                    <div class="img-overlay"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
