<div ng-if="services.promise.$$state.status != 1">
  <pre-loader></pre-loader>
</div>
<div  ng-if="services.promise.$$state.status == 1">
  <div class="topImg">
    <img src="assets/images/bg/bg_09.jpg" />
  </div>
  
  <!--==========================
    services Section
  ============================-->
  <section id="services" class="chapter">
    <div class="chapter-row section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">{{services.title | translate}}</h3>
          <span class="section-divider"></span>
        </div>
        <div class="chapter-row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 names-box" ng-repeat="item in services.list02">
            <div class="box wow" ng-class="{'fadeInLeft':$index%2==0,'fadeInRight': $index%2!=0}">
              <div class="icon"><img ng-src="assets/images/pages/services/{{item.id}}.jpg" /></div>
              <div class="wrapper-text">
                <h4 class="title"><a  ng-href="{{item.link}}">{{item.name | translate}}</a></h4>
                <p class="description">{{item.description | translate}}</p>
              </div>
              <div class="bottom-text">
                  <a class="description" href="{{item.link}}">{{services.read | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #services -->
</div>
