
  <div ng-if="sea.promise.$$state.status != 1">
      <pre-loader></pre-loader>
    </div>
    <div  ng-if="sea.promise.$$state.status == 1">
      <div class="topImg">
        <img src="assets/images/bg/bg_06.jpg" />
      </div>
      
      <!--==========================
        sea Section
      ============================-->
      <section id="sea">
  
        <div class="sea-row section-bg">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">{{sea.sea_01 | translate}}</h2>
              <span class="section-divider"></span>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                <div class="wow fadeInLeft">
                  <p>{{sea.sea_02 | translate}}</p>
                  <p>{{sea.sea_03 | translate}}</p>
                 </div>
              </div>
              <div class="col-6 col-md-6">
                  <img class="sea-img-right wow fadeInRight" src="../assets/images/img/sea-11.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
  
        <div class="sea-row">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-6">
                <img class="sea-img-left  wow fadeInLeft" src="../assets/images/img/sea-12.jpg" alt="">
              </div>
              <div class="col-6 col-md-6 content">
                <div class="wow fadeInRight">
                  <ul>
                    <li ng-repeat="item in sea.list01"><i class="ion-android-checkmark-circle"></i>{{item.txt | translate}}</li>
                  </ul>
                  <h3>{{home.pa_082 | translate}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- #home-about -->
    </div>
  