<!--form class="form-horizontal container commonUl" name='regForm' novalidate ng-submit="mailform.sendMessage()">
<div class="form-group">
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2 labelClass">
        <label for="inputName" class="control-label required">{{mailform.pc_name | translate}}:</label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="text" name="firstName" ng-pattern="mailform.patternLetters" class="form-control" required 
               ng-model='mailform.firstName'  id="inputFirstName" placeholder="{{mailform.pc_name | translate}}" />
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 error" ng-show="regForm.firstName.$dirty">
        <span class="colorRed" ng-show="regForm.firstName.$error.required">
            {{mailform.returnError('required')}}</span>
        <span class="colorRed" ng-show="regForm.firstName.$error.pattern">
            {{mailform.returnError('patternLetters')}}</span>
    </div>
</div>
<div class="form-group">
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2 labelClass">
        <label for="inputEmail" class="control-label required">{{mailform.pc_email | translate}}:</label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="email" name="email" class="form-control" required ng-model='mailform.email' id="inputEmail" placeholder="{{mailform.pc_email | translate}}">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 error" ng-show="regForm.email.$dirty">
        <span class="colorRed" ng-show="regForm.email.$error.email">
            {{mailform.returnError('email')}}</span>
        <span class="colorRed" ng-show="regForm.email.$error.required">
            {{mailform.returnError('required')}}</span>
    </div>
</div>
<div class="form-group">
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2 labelClass">
        <label for="textareaText" class="control-label required">{{mailform.pc_txt | translate}}:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <textarea name="textareaText" class="form-control mailform" required 
                ng-model='mailform.textareaText' id="textareaText"
                cols="30" rows="15"></textarea>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 error"
         ng-show="regForm.textareaText.$dirty">
        <span class="colorRed" ng-show="regForm.textareaText.$error.required">
            {{mailform.returnError('required')}}</span><br/>
    </div>
</div>
<div class="form-group">
        <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
        <button type="submit" class="btn mod-a btn-effect" ng-disabled="regForm.$invalid">{{mailform.pc_send | translate}}</button>
        </div>
    </div>
</form>


<hr/>
-->
<!--Contact Form-->


<div layout="column" ng-cloak class="md-inline-form">
    <form name="userForm" id="userForm" class="form-horizontal container commonUl" novalidate ng-submit="mailform.sendMessage()">
    <md-content layout-padding id="override-toolbar" style="background:transparent">
        <div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{mailform.pc_name | translate}}</label>
                    <input name="firstName" id="firstName" ng-model="mailform.firstName" required="" ng-pattern="mailform.patternLetters">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{mailform.pc_email | translate}}</label>
                  <input ng-model="mailform.email" required="" name="email" id="email" ng-pattern="mailform.patternEmail">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{mailform.pc_subject | translate}}</label>
                  <input ng-model="mailform.subject" required="" name="subject" id="subject">
                </md-input-container>
            </div>
            <md-input-container class="md-block" required="">
                <label>{{mailform.pc_txt | translate}}</label>
                <textarea name="textareaText" id="textareaText" ng-model="mailform.textareaText" md-maxlength="150" rows="5" md-select-on-focus required=""></textarea>
            </md-input-container>
            <div>
                    <md-button type="submit"  class="btn mod-a btn-effect" ng-disabled="userForm.$invalid">{{mailform.pc_send | translate}}</md-button>
                  </div>
        </div>
    </md-content>
    </form>  
</div>
<!--Contact Form-->      