
  <div ng-if="sectional.promise.$$state.status != 1">
      <pre-loader></pre-loader>
    </div>
    <div  ng-if="sectional.promise.$$state.status == 1">
      <div class="topImg">
        <img src="assets/images/bg/bg_08.jpg" />
      </div>
      
      <!--==========================
        sectional Section
      ============================-->
      <section id="sectional">
  
        <div class="sectional-row section-bg">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">{{sectional.title | translate}}</h2>
              <span class="section-divider"></span>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                <div class="wow fadeInLeft">
                  <p>{{sectional.sectional_01 | translate}}</p>
                  <p>{{sectional.sectional_02 | translate}}</p>
                 </div>
              </div>
              <div class="col-6 col-md-6">
                  <img class="sectional-img-right wow fadeInRight" src="../assets/images/img/sectional-11.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
      </section><!-- #home-about -->
    </div>
  