
  <div ng-if="doortodoor.promise.$$state.status != 1">
    <pre-loader></pre-loader>
  </div>
  <div  ng-if="doortodoor.promise.$$state.status == 1">
    <div class="topImg">
      <img src="assets/images/bg/bg_13.jpg" />
    </div>
    
    <!--==========================
      doortodoor Section
    ============================-->
    <section id="doortodoor">

      <div class="doortodoor-row section-bg">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">{{doortodoor.title | translate}}</h2>
            <span class="section-divider"></span>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="wow fadeInLeft">
                <p>{{doortodoor.doortodoor_01 | translate}}</p>
               </div>
            </div>
            <div class="col-6 col-md-6">
                <img class="doortodoor-img-right wow fadeInRight" src="../assets/images/img/doortodoor-11.jpg" alt="">
              </div>
          </div>
        </div>
      </div>
    </section><!-- #doortodoor -->
  </div>
